header {
    gap: 20px;
}

.bookmarks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.card {
    width: 120px;
}

@media screen and (max-width: 600px) {
    header {
        flex-wrap: wrap;
    }
}